body {
  background: rgb(251, 208, 208);
}

.App-header {
  margin: 40px 0;
}
.App-dictionary {
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}
